
<h2 class="md-headline">Confirm Account</h2>

<a ui-sref="account.login">Back</a>
<form ng-submit="confirm.submit(form, confirmForm.$valid)" name="confirmForm" novalidate>

  <md-input-container class="md-block">
    <label>Username</label>
    <input ng-model="form.username" name="username" type="text" required>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Confirmation Code</label>
    <input ng-model="form.confirmCode" name="confirmCode" type="text" required >
  </md-input-container>

  <md-button class="md-raised" type="submit">Confirm</md-button>

</form>

